venv/
virtual/

__pycache__/

app/__pycache__/

app/api/routes/__pycache__/
app/application/services/__pycache__/

app/config/__pycache__/

app/domain/analisis/__pycache__/
app/domain/auth/__pycache__/
app/domain/paciente/__pycache__/
app/domain/resultados/__pycache__/

app/infrastructure/background/__pycache__/
app/infrastructure/repository/__pycache__/
app/infrastructure/storages/__pycache__/

config/__pycache__/